*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{width: 100%;}



/********************
HEADER 
*******************/

#site_header{
    padding: 1rem;
    position: fixed;
    z-index: 10000000;
    width: 100%;
    background-color: white;
}



.header_content{
    width:50%;
    font-weight: 600;
    

}


.header_content, .header_content_left, .header_content_right{
    float: left;
}

.logo_img{
    height: 25px;
    vertical-align: middle;
}


#site_header ul{
    list-style: none;
}

#site_header nav, .img_wrapper, #site_header ul li{
    display: inline-block;
    vertical-align: middle;
    

}

.nav_link{
    text-decoration: none;
    color: #181818;

}



.header_content_right{
    text-align: right;

}


.sx_nav ul li {
    margin-left: 2rem;
} 
.dx_nav ul li {
    margin-right: 2rem;
}


.btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: .4rem 1.2rem;
    font-weight: 400;
    font-size:.8rem;
    background-color: #0061ff;
    color: white;
}

/********************
HEADER 
*******************/




/********************
HERO SEC 
*******************/
.hero_sec{
    background-color: #b4d0e7;
    padding-top:4rem;
    padding-bottom:6rem;
}

.hero_sec_wrapper{
    width:80%;
    margin:auto;
    padding-top: 5rem;
}

.hero_sec_content{margin-top: 3rem;}


.hero-sec_mainContent, .hero_sec_img{
    float: left;
}

.hero-sec_mainContent{
    width: 35%;
}


.hero_sec_img{
    width: 60%;
    position: relative;
}

.jumbo{
    position:absolute;}

.hero_sec_title{
    font-size: 4.3rem;
    font-weight: 700;
}

.hero-sec_text{
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: .9rem;
    width: 350px;

}
.hero_btn{
    margin-bottom: .5rem;
}
.fa-arrow-down{
    margin-top:1rem;
    font-size: 2.3rem;
}

/********************
HERO SEC 
*******************/






/********************
BUSINESS SEC 
*******************/
.width_60{
    width:60%;
    margin:auto;
    margin-bottom: 0;
}

.margin-top{
    margin-top: 10rem;
}




.business_title{
    font-size:2.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}



.label{margin-right: 2rem;}


.business_plan{
    margin-top: 3rem;
}

.col{float: left;
width: 30%;
border: 1px solid rgb(196, 196, 196);
}
.long_col{
    margin-top: 2rem;
    width: 100%;
}


.center{margin:0 5%}

.business_plan_quantity{
    padding:.5rem;
    border-bottom: 1px solid rgb(196, 196, 196);
    text-align: center;
}
.icon_margin_right{
    margin-right: 5px;
}

.business_plan_quantity p{
    font-weight: 600;
}





.business_plan_type{
    padding: 1.5rem;
}

.business_plan_type_info h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.business_plan_type_info h4{
    font-weight: 800;
    margin-bottom: .5rem;

}

.business_plan_type p{
    width: 90%;
    font-size:.8rem;
    font-weight: 600;
}


.business_plan_type_info p{
    color:rgb(131, 130, 130);
    font-size: .8rem;
}

.long_col .business_plan_type_info p{
    color:#181818;
    margin-top: 1.5rem;
}
.long_col .business_plan_type_info{width: 65%;}

.long_col_btn{
    width:35%;
    text-align: right;
}

.long_col_btn .btn{
    padding-left: 3rem;
    padding-right: 3rem;
    
}


.business_plan_services{
    margin-top:2rem
}

.business_plan_services_info .info{
    margin-bottom: 2rem;
}



.call_to_action_try p{margin-top: 1rem;
font-size: .75rem;}



.float{
    float: left;
}

.main_points{
    margin-top:1rem;
}

.main_points::before{
    content: '';
     display: block;
    width: 40px;
    height: 1px;
    background:#b4d0e7;

}


.main_points h5{
    font-size:.9rem;
    font-weight: 800;
    padding-top:2rem;
  
    margin-bottom: 1.5rem;
}


.main_points ul{
    list-style: none;
}

.main_points ul li{
    font-size:.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.fa-check{
    color: #0061ff;
    font-size: .8rem;
}



/* 

PARTNER SEC

*/

.partners{
    margin-top: 8rem;
}

.partner_img {
    width: 55%;
}

.partner_content{
    width:45%;
    padding-left:3rem;
    padding-top: 2rem;}

.partner_content h4{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.partner_content p{
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.btn_modifier_light{
    background-color:white;
    color: #181818;
    border: 1px solid #181818;
    font-weight: 600;
}


/* 

PARTNER SEC

*/




/* 

operation SEC

*/




.operations{
    margin-top: 5rem;
}

.ops_col{
    width:30%
}
.ops_col_center{
    margin: 0 5%;
}
.ops_col h3{
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 2rem;
}

.ops_col p{
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.second_row{
    margin-top:5rem;
}


/* 

operation SEC

*/




/* 

TEAMS SEC

*/

.teams .business_title{ 
    width: 530px;
}

.clients{
    margin-top: 4rem;
}

/* square{
    width: 16%;
    height: 243px;
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}
.square_long{
    width:36%;
    height: 243px;
    background-color: #f5f5f5;
    padding: 2rem;
}

.square_long p{
    position: absolute;
    width:450px;
}

.squareOne{
    background-image: url(./img/designit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a2d39b;
}
.squareTwo{
    background-image: url(./img/arizona_state_university.svg);
    background-color: #61082b;
}
.squareFour{background-color: #d5001f;
background-image: url(./img/world_bicycle_relief.svg);}
.squareFive{background-color: #b4d0e7;
background-image: url(./img/hearst_corp.svg);}
.squareSix{
    background-color: #0093ce;
    background-image: url(./img/university_of_florida2.svg);
}
.squareSeven{
    background-color: #ff1c1c;
    background-image: url(./img/topps.svg);
}

.squareNine{
    background-color: #0d2481;
    background-image: url(./img/lonely_planet.svg);
}
.squareTen{
    background-color: #ffd830;
    background-image: url(./img/clear_channel.svg);
   

}

 */


 .square_big, .rectangle{
     float: left;
     height: 400px;
 }
 .square_big{width:30%;
}

 .rectangle{width: 40%;
    background-color: rgb(250, 246, 246);
    padding: 2rem;
    position: relative;

}


.rec_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
}



.little_square{
width:50%;
float: left;
height: 50%;}

.squareOne{background-color: #a2d39b;
    background-image: url(./img/designit.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}

.squareTwo{
    background-color: #61082b;
    background-image: url(./img/arizona_state_university.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
}

.squareThree{
    background-color: #0093ce;
    
    background-image: url(./img/florida.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}
  

.squareFour{background-color: #ff1c1c;
    background-image: url(./img/topps.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.squareFive{
    background-color:#d5001f;
    background-image: url(./img/world_bicycle_relief.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
.squareSix{
    background-color: #b4d0e7;
    background-image: url(./img/hearst_corp.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
.squareSeven{
    background-color: #0d2481;
    background-image: url(./img/lonely_planet.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
.squareEight{
    background-color: #ffd830;
    background-image: url(./img/clear_channel.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}







.free_trail{
    background-color: hsl(207deg 52% 81%);
}

.free_trail .width_60{
    padding:6rem 0;}


.free_trail h2{
    color: #61082b;
    width:530px;
}

.free_trail_btn{
    text-align: right;
    width: 30%;
}

.btn_white{
    background-color: white;
    color: #181818;
    font-weight: 700;
}










.questions{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.questions_title{
    font-size:1.8rem;
    font-weight: 800;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #b4d0e7;

}

.answer{margin-top: 2rem;
padding-bottom: 2rem;
border-bottom: 1px solid #b4d0e7;
cursor: pointer;}

.answer .answer_title{
    width:95%;
   font-weight: 800;
    
}

.arrow_down{
    text-align: right;
    width:5%;

}

.arrow_up{display: none;}

.answer_text{display: none;}

.answer:hover .answer_text{
    display:block;
}
.answer:hover .answer_title{
    margin-bottom: 1rem;

    }


.answer:hover .arrow_up{
    display: block;
    text-align: right;
    width:5%;
}

.answer:hover .arrow_down{
    display: none;
}


/* FOOTER */
#site_footer{
    color: white;
    background-color: #000000;
    padding: 6rem 0rem;
}

.footer_info{
    width:20%;
    padding:1rem;
}

.footer_info h4{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.footer_info ul{
    list-style: none;
}

.footer_info ul li{
    margin-bottom: .5rem;
}
.footer_info ul li a{
    font-size: .75rem;
    color: white;
    text-decoration: none;
}