*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{width: 100%;}

.btn:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.underline{text-decoration: underline;

}



/********************
HEADER 
*******************/

#site_header{
    padding:0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
    width: 100%;
    background-color: white;
}



.header_content{
    width:50%;
    font-weight: 600;
    

}


.header_content, .header_content_left, .header_content_right{
    float: left;
}

.img_wrapper{
    padding-bottom: 2rem;
    vertical-align: bottom;
}

.logo_img{
    height: 25px;
    vertical-align: middle;
}


#site_header ul{
    list-style: none;
}

#site_header nav, .img_wrapper, #site_header ul li{
    display: inline-block;
      
    

}

#site_header ul li{
    padding: 1rem 1rem 2rem;
   

    transition: all 200ms;
}






#site_header ul li:hover{
    box-shadow:#181818 0px 2px 0px;
}

.dropdown:hover{
    background-color:#f2eee8;
}



.nav_link{
    text-decoration: none;
    color: #181818;

}

.sx_nav ul li {
    margin-left: 2rem;
} 
.dx_nav ul li {
    margin-right: 2rem;
}


.header_content_right{
    text-align: right;

}




/* HEADER - DROPDOWN MENU/ */



.dropdown{
    position: relative;
}
 
  .dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #f2eee8;
    min-width: 400px;
    z-index: 1;
  }
  


  .dropdown-content a {
    color:#181818;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
    transition: all 250ms;
    font-size: .8rem;
  }
  
  .dropdown-content a:hover {background-color: #d6cacada;}

  .dropdown:hover .dropdown-content {
    display: block;
  }


/* HEADER - DROPDOWN MENU/ */



.btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: .4rem 1.2rem;
    font-weight: 400;
    font-size:.8rem;
    background-color: #0061ff;
    color: white;
}

.call_to_action_try .btn{
    width: 100%;
    padding: .4rem 0;
    text-align: center;
}

/********************
HEADER 
*******************/




/********************
HERO SEC 
*******************/
.hero_sec{
    background-color: #b4d0e7;
    padding-top:4rem;
    padding-bottom:6rem;
}

.hero_sec_wrapper{
    width:80%;
    margin:auto;
    padding-top: 5rem;
}

.hero_sec_content{margin-top: 3rem;}


.hero-sec_mainContent, .hero_sec_img{
    float: left;
}

.hero-sec_mainContent{
    width: 35%;
}


.hero_sec_img{
    width: 60%;
    position: relative;
}

.jumbo{
    position:absolute;}

.hero_sec_title{
    font-size: 4.3rem;
    font-weight: 700;
}

.hero-sec_text{
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: .9rem;
    width: 350px;

}
.hero_btn{
    margin-bottom: .5rem;
}
.fa-arrow-down{
    margin-top:1rem;
    font-size: 2.3rem;
}

.arrow_scroll{
    color: #181818;
}


/********************
HERO SEC 
*******************/






/********************
BUSINESS SEC 
*******************/
.width_60{
    width:60%;
    margin:auto;
    margin-bottom: 0;
}

.smaller_margin_top{
    margin-top: 6rem;
}

.margin-top{
    margin-top: 10rem;
}

.bigger_margin_top{
    margin-top:15rem;
}

.padding-top{
    padding-top: 10rem;
}
.business_title{
    font-size:2.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.label{margin-right: 2rem;}


.business_plan{
    margin-top: 3rem;
}

.col{float: left;
width: 30%;
border: 1px solid rgb(196, 196, 196);
}
.long_col{
    margin-top: 2rem;
    width: 100%;
}


.center{margin:0 5%}


.buy_now{
    color: #0061ff;
}




.business_plan_quantity{
    padding:.5rem;
    border-bottom: 1px solid rgb(196, 196, 196);
    text-align: center;
}
.icon_margin_right{
    margin-right: 5px;
}

.business_plan_quantity p{
    font-weight: 600;
}


.business_plan_type{
    padding: 1.5rem;
}

.business_plan_type .info .fas{
    font-size: .8rem;
    
}

.business_plan_type .info .fas::before{
    vertical-align: sub;
}


.business_plan_type_info h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}


.business_plan_type_info h4{
    font-weight: 800;
    margin-bottom: .5rem;

}

.business_plan_type p{
    width: 90%;
    font-size:.8rem;
    font-weight: 600;
}


.business_plan_type_info p{
    color:rgb(131, 130, 130);
    font-size: .8rem;
}

.long_col .business_plan_type_info p{
    color:#181818;
    margin-top: 1.5rem;
}
.long_col .business_plan_type_info{width: 65%;}

.long_col_btn{
    width:35%;
    text-align: right;
}

.long_col_btn .btn{
    padding-left: 3rem;
    padding-right: 3rem;
    
}


.business_plan_services{
    margin-top:2rem
}

.business_plan_services_info .info{
    margin-bottom: 2rem;
}



.call_to_action_try p{margin-top: 1rem;
font-size: .75rem;}



.float{
    float: left;
}

.main_points{
    margin-top:1rem;
}

.main_points::before{
    content: '';
     display: block;
    width: 40px;
    height: 1px;
    background:#b4d0e7;

}


.main_points h5{
    font-size:.9rem;
    font-weight: 800;
    padding-top:2rem;
  
    margin-bottom: 1.5rem;
}


.main_points ul{
    list-style: none;
}

.main_points ul li{
    font-size:.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
 
}

.main_points ul li p{
    display: inline-block;
}

.fa-check{
    color: #0061ff;
    font-size: .8rem;
    display: inline-block;
}

.fa-check::before{
   vertical-align: sub;

}

/* 

PARTNER SEC

*/

.partners{
    margin-top: 8rem;
}
.partners_funzioni{
    margin-top:0rem;
}

.partner_img {
    width: 55%;
}

.partner_content{
    width:45%;
    padding-left:3rem;
    padding-top: 2rem;}

.partner_content h4{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.partner_content p{
    font-size: .9rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.btn_modifier_light{
    background-color:white;
    color: #181818;
    border: 1px solid #181818;
    font-weight: 600;
}


/* 

PARTNER SEC

*/




/* 

operation SEC

*/




.operations{
    margin-top: 5rem;
}

.ops_col{
    width:30%
}
.ops_col_center{
    margin: 0 5%;
}
.ops_col h3{
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 25px;
    margin-bottom: 2rem;
}

.ops_col p{
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}


.second_row{
    margin-top:5rem;
}

.find_more{
    color: #2a7bff;
    font-size: .8rem;
    font-weight: 600;
}



/* 

operation SEC

*/




/* 

TEAMS SEC

*/

.teams .business_title{ 
    width: 530px;
}

.clients{
    margin-top: 4rem;
    width: 100%;
    height:454px; }


 .square_big, .rectangle{
     float: left;
     height:100% }

 .square_big{width:30%;
}

 .rectangle{width: 40%;
    background-color: rgb(250, 246, 246);
    padding: 2rem;
    position: relative;

}


.rec_content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 80%;
}

.quote::before{
   content: '';
   display: block;
   width: 40px;
   height: 1px;
   background:#b4d0e7;
   margin-bottom: 3rem;

}

.quote{
    font-size: .9rem;
    font-weight: 600;
}

.quoter{
    margin-top: 2rem;
}



.little_square{
width:227px;
height: 50%;
float: left;
background-repeat: no-repeat;
background-size: 100px;
background-position: center;}

.squareOne{background-color: #a2d39b;
    background-image: url(./img/designit.svg);
    
    background-size: 150px;}
   

.squareTwo{
    background-color: #61082b;
    background-image: url(./img/arizona_state_university.svg);
    
    background-size: 120px;
}
    

.squareThree{
    background-color: #0093ce;
    
    background-image: url(./img/florida.svg);
    background-size: 150px;
}
  

.squareFour{background-color: #ff1c1c;
    background-image: url(./img/topps.svg);
    
}

.squareFive{
    background-color:#d5001f;
    background-image: url(./img/world_bicycle_relief.svg);
    
}
.squareSix{
    background-color: #b4d0e7;
    background-image: url(./img/hearst_corp.svg);
    
}
.squareSeven{
    background-color: #0d2481;
    background-image: url(./img/lonely_planet.svg);
    
}
.squareEight{
    background-color: #ffd830;
    background-image: url(./img/clear_channel.svg);
    
}







.free_trail{
    background-color: hsl(207deg 52% 81%);
}

.free_trail .width_60{
    padding:6rem 0;}


.free_trail h2{
    color: #61082b;
    width:530px;
    font-weight: 700;
}

.free_trail_btn{
    text-align: right;
    width: 30%;
}

.btn_white{
    background-color: white;
    color: #181818;
    font-weight: 700;
}










.questions{
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.questions_title{
    font-size:1.8rem;
    font-weight: 800;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #b4d0e7;

}

.answer{margin-top: 2rem;
padding-bottom: 2rem;
border-bottom: 1px solid #b4d0e7;
cursor: pointer;}

.answer .answer_title{
    width:95%;
   font-weight: 800;
    
}

.arrow_down{
    text-align: right;
    width:5%;

}

.arrow_up{display: none;}

.answer_text{display: none;}

.answer:hover .answer_text{
    display:block;
    max-width: 700px;
}
.answer:hover .answer_title{
    margin-bottom: 1rem;

    }


.answer:hover .arrow_up{
    display: block;
    text-align: right;
    width:5%;
}

.answer:hover .arrow_down{
    display: none;
}


/* FOOTER */
#site_footer{
    color: white;
    background-color: #000000;
    padding: 6rem 0rem;
}

.footer_info{
    width:20%;
    padding:1rem;
}

.footer_info h4{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.footer_info ul{
    list-style: none;
}

.footer_info ul li{
    margin-bottom: .5rem;
}
.footer_info ul li a{
    font-size: .75rem;
    color: white;
    text-decoration: none;
}

.footer_info ul li a:hover{
    
    text-decoration: underline;
}




.footer_nav .fa-globe-americas, .footer_language{
    display: inline-block;
}

.footer_language{
    opacity:60%;
}

 .fa-globe-americas{
     opacity: 70%;
     font-size: .9rem;
     margin-right: 3px;
 }



.fa-sort-up{
    vertical-align: bottom;
}


.footer_nav{
    font-size: .7rem;
    width: 130px;
    border-top: 1px solid white;
    padding-top: 3rem;
    margin-top: 6rem;
}


/* FUNZIONI PAGE */

.funzioni_page{
    background-color: #ceb4ff;

    padding-bottom: 5rem;
}

.funzioni_page .partner_content{
    padding-left: 0;
    width:50%;
    margin-right: 10%;
}

.funzioni_page .partner_content h1{
    color: #61082b;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.funzioni_page .partner_img{
    width: 40%;
}
.funzioni_page .btn_modifier_light{
    border: none;
}

.funzioni-sec{
    margin-bottom: 2rem;
}

.funzioni-sec  h3{

    margin-bottom: 3rem;


}

/* STORIE DI CLIENTI - page */



.clients_page .hero_sec{
    background-image: url(./img/dropbox_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clients_page .hero_sec{
    padding-top: 20rem;
    padding-bottom: 10rem;
    margin-top: 3rem;
}

.clients_page .clients_title{
    width:50%;
    margin-right: 10%;
}

.clients_page .clients_text{
    width: 40%;
    line-height:1.7rem;
}

.grid{
    display: grid;
    grid-template: 60px 60px 60px 60px/ repeat(5, auto);
    row-gap:5rem;
}

.grid img{
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
}

.grid .png_img{
    width: 50%;
    height: unset;
}

.flex{
    display: flex;
}

.flex_margin{
    margin:0 1.5rem;
}

.flex h2{
    font-size: 1.7rem;
    margin-bottom: 1rem;

}

.flex h2 span{
    font-size: 1rem;
}

.flex p{
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
}


.clients_page .smaller_margin_top.background{
    background-color: #fafafa;
}


.grid_list{
    list-style: none;
    grid-column: 1/-1;
    grid-row: 2/3;
    border-bottom: 2px solid #707070;
}

.grid_list li{
    margin-right: 2rem;
    padding-bottom: 1.5rem;
    color: #707070;
}

.grid_list li:hover{
    box-shadow:#181818 0px 2px 0px ;
    cursor: pointer;
    color: #181818;
}



.second_grid{
    display: grid;
    grid-template: 3rem auto 2.5rem auto 3rem / 500px auto;
    column-gap: 5rem;
}

.second_grid_img{
    grid-row: 4/5;
    grid-column: 1/2;
    height:300px;
  
}



.second_grid_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
   filter: brightness(.7);
}

.fa-play-circle{
    grid-row: 4/5;
    grid-column: 1/2;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    z-index: 1;
    color: white;
    fill: currentColor;

}

.second_grid_text{
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
}

.second_grid_text h2{margin-bottom: 2rem;}





 .why_us h2, .worldwide_teams .worldwide_teams_title{
     font-size:2.5rem;
     width:500px;
     margin-bottom: 2rem;
 }

.filter.flex{
    justify-content: space-between;
    width: 400px;
    padding: 1rem;
    border: 1px solid #707070;

}

.filter .fa-chevron-down{
    display: flex;
}
.filter .fa-chevron-down::before{
    align-self: center;
}


.third_grid{
    display: grid;
    grid-template: auto auto auto/ repeat(4, 215px);
    row-gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
    
}

.squared_box{
    
    height: 215px;
    border: 1px solid #707070;
    display: flex;
}

.squared_box img{
    width: 100%;
    height: unset;
    justify-self: center;
    align-self: center;
    transform: scale(.5);
}

.squared_box:first{
    grid-column: 1 / 2;
    grid-row: 1 /2;
}

.load_more{
    grid-column: 1/-1;
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
}


.fourth_grid{
    display: grid;
    grid-template: auto 1rem auto / 30% 1rem 30% 1rem 30%;
    justify-content: space-between;
}


.fourth_grid_text h2{
    font-size:1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.fourth_grid_text p{
    color: #5e5d5d;
    line-height: 1.7rem;
}

.fourth_grid_img{
    height: 200px;
}

.fourth_grid_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.7);
}


.fourth_grid_img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/2;


}
.fourth_grid_img:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 1/2;

}

.fourth_grid_img:nth-of-type(3){
    grid-column: 5/-1;
    grid-row: 1/2;

}

.fourth_grid_text_first{
    grid-column: 1/2;
    grid-row: 3/4;
}
.fourth_grid_text_second{
    grid-column: 3/4;
    grid-row: 3/4;
}
.fourth_grid_text_third{
    grid-column: 5/-1;
    grid-row: 3/4;
}
.fourth_grid .fa-play-circle:nth-of-type(1){
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    z-index: 2;
    color: white;
    fill: currentColor;

}
.fourth_grid .fa-play-circle:nth-of-type(2){
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    z-index: 1;
    color: white;
    fill: currentColor;

}
.fourth_grid .fa-play-circle:nth-of-type(3){
    grid-row: 1/2;
    grid-column:5/6;
    font-size: 5rem;
    justify-self: center;
    align-self: center;
    z-index: 1;
    color: white;
    fill: currentColor;

}
 



.clients_page .free_trail {
    background-color: #0d2481;
}

.clients_page .free_trail .business_title{
    color: #fcd531;
}
.clients_page .free_trail .free_trail_btn .btn{
    font-weight: 400;
}

.clients_page .free_trail .free_trail_btn p{
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-top: 2rem;
}